.container-fluid.bg-footer.py-2.py-sm-3.py-md-4
    .container.footer.pt-2.pt-sm-3.pt-md-4
        .row.justify-content-between.text-white.no-gutters
            .col-sm-12.col-md.mb-3.pr-md-3
                h5.font-bold.pt-0 THƯ VIỆN PHÁP LUẬT
                .pb-2 
                    i.fas.fa-map-marker-alt.pr-1
                    |17 Nguyễn Gia Thiều, P.6, Q.3, TP.HCM
                .pb-2 
                    i.fas.fa-phone.pr-1
                    |(028) 3930 3279
                .pb-2 
                    i.fas.fa-envelope.pr-1
                    a(href="mailto:info@thuvienphapluat.vn") info@thuvienphapluat.vn
            .col-sm.mb-3.pr-md-3
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Liên hệ
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Gói dịch vụ online
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Phần mềm Thư viện Pháp Luật
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Hướng dẫn sử dụng
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Giới thiệu
            .col-sm.mb-3.pr-md-3
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Lưu trữ
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Đăng ký thành viên
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Thỏa ước dịch vụ
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Tra cứu pháp luật
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Tra cứu công văn
            .col-sm.mb-3
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Tìm kiếm luật sư
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Tra cứu tiêu chuẩn Việt Nam
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Cộng đồng ngành luật
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Biểu thuế WTO
                .pb-2
                    i.fas.fa-chevron-circle-right.pr-1
                    a(href="#") Bảng giá đất
.container-fluid.bg-copy-right
    .container
        .row
            .col.py-2.text-white.text-center.copy-right
                small
                    |Bản quyền &copy; 2018 THƯ VIỆN PHÁP LUẬT, theo Giấy Chứng nhận số: 1802/2006/QTG của Bộ VHTT. Đơn vị chủ quản: Công ty cổ phần LawSoft. 
                    br
                    |Giấy phép số: 37/GP-TTĐT, do Sở TTTT TP. HCM cấp ngày 20/04/2015, thay thế Giấy phép số 61/GP-TTĐT, do Bộ TTTT cấp ngày 04/06/2009, và thay thế Giấy phép số 73/GP-BC do Bộ VHTT cấp ngày 30/03/2006. 
                    br
                    |Chịu trách nhiệm chính: Ông Bùi Tường Vũ