.navbar.navbar-expand-md.navbar-dark.bg-dark.bg-nav-scroll.custom-nav
    .container.px-0
        a.navbar-brand(href="./index.html")
            span.text-uppercase Thư viện pháp luật
            //- img(src="../assets/logo.png", alt="")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href="#")
                        |Trang chủ
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#") Dịch vụ
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" id="navbarDropdownNews" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tin tức
                    .dropdown-menu.mega-menu(aria-labelledby="navbarDropdownNews")
                        .container.px-0
                            .row.pt-3
                                .col-md-4.mb-3
                                    h5 
                                        a(href="#") Thông báo văn bản mới
                                .col-md-4.mb-3
                                    h5 
                                        a(href="#") Hiệp định thương mại
                                    ul
                                        li
                                            a(href="#") Hiệp định TPP
                                        li
                                            a(href="#") Hiệp định EVFTA
                                        li
                                            a(href="#") Hiệp định RCEP
                                        li
                                            a(href="#") Hiệp định CPTPP
                                .col-md-4.mb-3
                                    h5 
                                        a(href="#") Thời sự
                                .col-md-4.mb-3
                                    h5 
                                        a(href="#") Chính sách mới
                                .col-md-4.mb-3
                                    h5 
                                        a(href="#") Án lệ
                                .col-md-4.mb-3
                                    h5 
                                        a(href="#") Tư vấn của luật sư
                li.nav-item
                    a.nav-link(href="./login.html") Cộng đồng
                li.nav-item
                    a.nav-link(href="./login.html") Liên hệ