@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// @font-face {
//     font-family: ExampleFont;
//     src: url(/path/to/fonts/examplefont.woff) format('woff'),
//         url(/path/to/fonts/examplefont.eot) format('eot');
//     font-weight: 400;
//     font-style: normal;
//     font-display: fallback;
// }
html,body,td,th,input,button{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 10px;
}

@each $vw in (
    576px 1.3,
    768px 1.4,
    991px 1.6
){
    @media screen and (min-width: #{nth($vw,1)}){
        html,body,td,th,input,button{
            font-size: 10px*nth($vw,2);
        }
    }
}
.font-bold{
    font-weight: 600;
}
.font-bolder{
    font-weight: 800;
}
.form-control,
.btn{
    font-size: 1em;
}

h1,.h1{
    font-size: 2.5em;
}
h2,.h2{
    font-size: 2em;
}